* {

    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {

    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: ghostwhite;
    border: none;
}

#nav {

    height: 15vh;
    width: 100%;
    background-color: dodgerblue;

    display:flex;
    justify-content:center;
    align-items:center;

    /*-webkit-box-shadow: 2px 5px 15px rgba(0,0,0,0.4);*/
    /*-moz-box-shadow: 2px 5px 15px rgba(0,0,0,0.4);*/

}

#formDestination {
    height: 40%;
    width: 60%;
}

#inputDestination {

    height: 100%;
    width: 100%;

    padding-left: 16px;
    padding-right: 16px;
    border: none;
    font-size: 16px;

    box-sizing:border-box;
    text-transform: capitalize;
}

#buttonSearch {

    height: 40%;
    width: 10%;

    background: forestgreen;

    border: none;

}


#divSuggestionContainer {
    position: relative;

    height:auto !important;  /* for IE as it does not support min-height */
    min-height:50px;
    width: 100%;

    display: flex;
    flex-direction: column;

    bottom: -3%;

    -webkit-box-shadow: 2px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 5px 15px rgba(0,0,0,0.4);

    visibility: hidden;
    z-index: 2;

    background: ghostwhite;
}

#divMainContainer {

    display: flex;
    flex-direction: row;
    height: 85vh;
    width: 100%;

}

#divMonthList{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 20%;
    float: left;

}

#canvasButtonContainer {
    position: relative;

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;

}

#divEarth {

    position: relative;
    height: 80%;
    width: 100%;

    top: 0;
}

#divBookContainer {
    position: relative;
    height: 20%;
    width: 100%;
}

#divDestinationInformation {

    position: relative;
    height: 100%;
    width: 20%;
    float: right;
    top: 0;

}

/* BUTTONS */

.btnMonths {
    height: 20%;
    width: 60%;

    margin: 10px;

    border: 1px solid lightgrey;
    border-radius: 3px;
}

.btnMonths:hover {

    color: #d67200;
    border-color: #d67200;
}

/* JS Created Elements */

.pSuggestionCell {

    box-sizing: border-box;

    display: flex;
    justify-content: left;
    align-items: center;

    height: 30px;
    padding-left: 16px;
    width: 100%;


}

.pSuggestionCell.flip {
    background-color: red;
}

/* TODO: Add margin below nav bar */